*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#f4f7fc;
    min-height:100vh;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#1b97a5;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:#1e293b;
    font-weight:600;
    transition:0.3s;
}

.nav-links a:hover{
    color:#7deaf6;
}

/* Container */

.container{
    width:90%;
    margin:40px auto;
}

.container h1{
    text-align:center;
    color:#1e293b;
    margin-bottom:25px;
}

.container h2{
    margin-top:40px;
    margin-bottom:15px;
    color:#1e293b;
}

/* Form */

form{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
select,
textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#0ea4b5;
}

textarea{
    resize:vertical;
    min-height:90px;
}

button{
    background:#0b8990;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

button:hover{
    background:#119492;
}

/* Table */

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

th{
    background:#098785;
    color:white;
}

th,
td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

tr:nth-child(even){
    background:#f8fafc;
}

/* Edit Button */

.edit-btn{
    background:#f59e0b;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.edit-btn:hover{
    background:#d97706;
}

/* Responsive */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .container{
        width:95%;
    }

    table{
        display:block;
        overflow-x:auto;
    }

}